body {
    background-color: #EEEDEC;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13pt;
}

#page-container {
    position: fixed;
    top: 0;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EEEDEC;
}

#header-img {
    width: 360px;
}

nav {
    text-align: right;
  }

  nav ul {
    width: 555px;
    display: flex;
    padding-left: 300px;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 600px){
      flex-direction: column;
      display: block;
      overflow-x: auto; 
    }
}